@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Roboto+Mono:ital,wght@0,600;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.img-fluid {
  border-radius: 10px; }

#paquetes_title {
  font-size: 78px;
  text-shadow: 2px 2px #c7bebe; }

.card {
  box-shadow: 10px 5px 5px grey;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover; }

.googlemapicon {
  object-fit: fill;
  height: 64px;
  width: 64px;
  margin: auto; }

.btn {
  --color: #0e86e9;
  font-family: inherit;
  line-height: 2.5em;
  margin-top: 20px;
  position: absolute;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: black;
  top: 85%;
  width: 90%; }

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 500px;
  width: 500px;
  border-radius: 50%; }

.btn:hover {
  color: #fff; }

.btn:before {
  top: 100%;
  left: 100%;
  transition: all .7s; }

.btn:hover:before {
  top: -70px;
  left: -70px; }

.btn:active:before {
  background: #3a0ca3;
  transition: background 0s; }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.fa-facebook, .fa-instagram, .fa-whatsapp {
  width: 60px;
  border-radius: 5px; }
  .fa-facebook:hover, .fa-instagram:hover, .fa-whatsapp:hover {
    -webkit-animation: wobble-hor-bottom .8s both;
    animation: wobble-hor-bottom .8s both; }

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

#navbar2 {
  background: #00d4ff;
  background: linear-gradient(90deg, #00d4ff 0%, #090979 29%, #020024 100%);
  box-shadow: 10px 5px 5px black; }

.navbar-nav .nav-item {
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.navbar-nav .nav-item1 {
  animation-delay: 0.3s; }

.navbar-nav .nav-item2 {
  animation-delay: 0.6s; }

.navbar-nav .nav-item3 {
  animation-delay: 0.9s; }

.navbar-nav .nav-item4 {
  animation-delay: 1.2s; }

.navbar-nav .nav-item5 {
  animation-delay: 1.5s; }

.nav-link {
  border-left: 1px solid #beb4b4; }

@media (max-width: 768px) {
  #navbar2 {
    background: #0074ff;
    background: linear-gradient(90deg, #0074ff 31%, #090979 63%, #020024 93%); } }

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1; } }

@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1; } }

.foot {
  display: flex;
  justify-content: center;
  background: #00d4ff;
  background: linear-gradient(90deg, #00d4ff 0%, #090979 29%, #020024 100%);
  color: white;
  padding-block: 20px; }
  .foot .icons {
    display: flex;
    align-items: center;
    gap: 1rem; }

.fa-facebook, .fa-instagram, .fa-whatsapp {
  background-color: blue; }

.fa-instagram {
  background-color: #eba016; }

.fa-whatsapp {
  background-color: #0caf0c; }

.fa-facebook, .fa-instagram, .fa-whatsapp {
  color: white; }

.icons .fab {
  padding: 1.5rem;
  text-decoration: none; }

.carousel {
  border: 5px solid black; }
  .carousel-item {
    height: 500px; }
    .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px; }

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw; }

.hero {
  background-image: url("../assets/img/playas/mar del plata/mardelplatagrande.jpg");
  height: 85vh;
  box-shadow: 10px 5px 5px grey;
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .hero h2 {
    font-size: 86px;
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

#viajarg_h2 {
  text-shadow: 2px white;
  -webkit-text-stroke: 1px #f1e9e9;
  color: transparent; }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

#gmap_canvas {
  height: 40vh;
  width: 100%; }

@media (max-width: 768px) {
  #gmap_canvas {
    width: 100%; } }

@media (max-width: 390px) {
  #gmap_canvas {
    width: 100%; } }
