/* titulo de la pagina */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Roboto+Mono:ital,wght@0,600;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
}

#navbar2 {
    box-shadow: 10px 5px 5px black;
    
    
}

.nav-link {
    border-left: 1px solid rgb(190, 180, 180);
}

.nav-item a:hover {
    text-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white;
    transition: 1s; 
 
}

.white-glow a:hover {
    text-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white;
    box-shadow: 0 0 15px rgb(154, 215, 240), 0 0 25px rgb(10, 171, 235), 0 0 50px rgb(5, 44, 94); 
    transition: 0.5s;
}


.hero {
    background-image: url("./assets/img/playas/mar\ del\ plata/mardelplatagrande.jpg");
    height: 85vh;
    box-shadow: 10px 5px 5px grey;
    
    
}

.hero h2 {
    font-size: 86px;
    
    
}

#viajarg_h2 {
    text-shadow: 2px white;
    -webkit-text-stroke: 1px rgb(241, 233, 233);
    color: transparent; 
    
    
}

#paquetes_title {
    font-size: 78px;
    text-shadow: 2px 2px rgb(199, 190, 190);
    
}

.card {
    box-shadow: 10px 5px 5px grey;
}

.googlemapicon {
    object-fit: fill;
    height: 64px;
    width: 64px;
    margin: auto;
}

.card-img-top {
    width: 100%;
    height:30vh;
    object-fit: cover;
}



.carousel {
    border: 5px solid black;
}

.carousel .carousel-item {
    height: 500px;
  }
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
}


header {
    background-image: url("./assets/img/header/tokyo-night2.png");
    box-shadow: 10px 5px 5px grey;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 2%;
}


body {
    background-color: white;

}

.header-title {
    padding: 50px;
    text-align: center;

}

.header-title__link {
    text-decoration: none;
    color: white;
}

#gmap_canvas {
    height: 40vh;
    width: 100%;
    
}





@media (max-width: 768px) {
    #gmap_canvas {
        width: 100%;
        
        
               
        

    }

} 

@media (max-width: 390px) {
    #gmap_canvas {
        width: 100%;
        
        
               
        

    }

} 

/* @media (max-width: 850px) {
    .about-card {
        width: 100vw;
        

    }

} */

/* OLD VERSION */
/* NABVAR */

/* .neon {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.5s;
    background-color: white;
    margin: 0 auto;
    
}

.neon a {
    text-decoration: none;
    color: black;
    
}

.neon:hover {
    background: #262626;
    box-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white; 
    
}

.neon:hover, #text {
    color: white;
}

.navbarneon {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 10px;
    flex-direction: row;
    margin: 0 auto;
    
    
}

.navbarneon a {
    text-decoration: none;
} */



/* boxes del index */

/* .index-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 30%;
    max-width: 1200px;
    margin: 0 auto;
    

}

.index-card{
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 5px 5px grey;
}

.index-card__description {
    color: white;
    padding: 10px 10px 0px 10px;
}

.index-card__header{
    padding-inline: 20px;
    padding-top: 15px;
    justify-content: center;
    display: flex;
}


.index-card h2 {
    color: white;
}



.index-card__img {
    width: 100%;
} */

/* boton del index card */

/* .index-card__button {
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.5s;
    background-color: white;
    
}

.index-card__button a {
    color: black;
}

.index-card__button:hover {
    
    background: #262626;
    box-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white; 
    
}

.index-card__button:hover, #text {
    color: white;
}

.index-card__button1 {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 10px;
    
    
}

.index-card__button1 a {
    text-decoration: none;
} */

/* titulos de la segunda seccion */

/* .index-section2__titles{
    margin-top: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    column-gap: 37.5%;
    color: white;
}

.index-section2__titles h3 {
    border: 3px solid black;
    background-color: black;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 10px 5px 5px grey;
}

.index-section2 {
    display:flex;
    padding: 10px 50px 50px 50px;
    column-gap: 20%;
    justify-content: center;
    
    
}


.index-section2__video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border: 15px solid black;
    border-radius: 20px;
    box-shadow: 10px 5px 5px grey;

    

} */




/*prueba*/














/*prueba*/

/* redes sociales del margen inferior derecho */
.social-icons {
    position: fixed;
    bottom: 10px;
    right: 50px;
    


}

.social-icons, #nuestras-redes {
    text-align: center;
    margin-bottom: 3px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-size: 16px;
    font-weight: bold;
    

}

.social-icons img {
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;


}


/* PAGINA DESTINOS */




/* #sur-del-pais__title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    border: 3px solid #262626;
    margin-bottom: 40px;
}


#playas-argentinas__title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border: 3px solid #262626;
    margin-bottom: 40px;
    margin-top: 40px;
} */

/* PLAYAS */

/* .playas-argentinas__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    max-width: 1200px;
    margin: 0 auto;
}

.playas-argentinas__card {
    background-color: black;
    border-radius: 30px;    
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 5px 5px grey;

}

.playas-argentinas__card p {
    color: white;
    padding: 10px;
}

.playas-argentinas__card h3 {
    color: white;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.playas-argentinas__img {
    width: 100%;
    height: 200px;
} */

/* SUR DE ARGENTINA */



/* .sur-de-argentina__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    max-width: 1200px;
    margin: 0 auto;


    
}

.sur-de-argentina__card {
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 5px 5px grey;
    

}

.sur-de-argentina__card p {
    color: white;
    padding: 10px;
}

.sur-de-argentina__card h3 {
    color: white;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.sur-de-argentina__img {
    width: 100%;
    height: 200px;
} */

/* PAGINA PAQUETES */

/* .viaje-con-hotel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    
}

.paquetes img {
    margin: 1%;
    border-radius: 10%;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
}

.viaje-con-hotel__content {

    margin: 2%;

}

.viaje-con-hotel__content h2 {
    margin: 1%;
}

.multidestino {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

.multidestino__content {
    margin: 2%;
}

.multidestino__content h2 {
    margin: 1%;
} */





/* CONTACTO */

/* .contact-form {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
}

.contact-form legend{
    padding: 1px;
    background-color: grey;
    border-radius: 5px;
    margin: 5px;
} */


/* ABOUT */

/* .about-info h2 {
    margin: 20px;
    padding: 20px;
    background-color: grey;
    border-radius: 30px;
    text-align: center;

}

.about-info p {
    margin: 20px;
    text-align: center;
}

.about-info h3 {
    margin: 20px;
    padding: 20px;
    background-color: grey;
    border-radius: 30px;
    text-align: center;

}

.about-container {
    width: 512px;
    display: block;
    margin: auto;
    margin-bottom: 10%;
    
} */






/* boton para volver arriba */
/*
.to-top__button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
       
}

.to-top__button2 {
    padding: 20px;
    box-shadow: 10px 5px 5px black;
}

#disclaimer {
    color: red;
    font-size: 16px;
    padding: 5px;
}

*/

/* MEDIA QUERIES */

/* @media (max-width: 390px){
    .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

} */


/* @media (max-width: 850px){
    header {
        background-image: none;
        background-color: #262626;
    }


}

@media (max-width: 850px) {
    .navbarneon {
        flex-direction: column;

    }

}



@media (max-width: 850px){
    #playas-argentinas__title {
        margin-top: 400px;
        
        
    }


}


@media (max-width: 850px) {
    .playas-argentinas__cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        gap: 10%;
        margin: 10%;

    }
}

@media (max-width: 850px) {
    .index-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        gap: 10%;
        margin: 10%;
        

    }
}

@media (max-width: 850px) {
    .index-card {
        display: block;
        overflow: visible;
        row-gap: 20%;


    }
}

@media (max-width: 850px) {
    .index-section2__titles {
        display: flex;
        margin-top: 200px;
        

    }
}



@media (max-width: 850px) {
    .sur-de-argentina__cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        gap: 10%;
        margin: 10%;
        

    }
}

@media (max-width: 850px){
    footer {
        margin-top: 500px;
        
    }


}

@media (max-width: 600px) {
    .viaje-con-hotel {
        flex-direction: column;
        margin-top: 10%;

    }


}

@media (max-width: 600px) {
    .multidestino {
        flex-direction: column;

    }

}

@media (max-width: 600px) {
    .contact-form {
        flex-direction: column;
        font-size: small;
        margin-top: 10%;

    }

}

@media (max-width: 600px) {
    .contact-legend {
        flex-direction: column;
        font-size: small;
        margin-top: 10%;

    }

}

@media (max-width: 600px) {
    .about-container {
        display:inline;
        font-size: small;
        margin-top: 10%;
        

    }

}

@media (max-width: 600px) {
    .mapa iframe {
        width: 300px;
        height: 300px;
        

    }

}

@media (max-width: 600px) {
    .mapa {
        display: flex;
        justify-content: center;
        

    }

} */


