
#gmap_canvas {
    height: 40vh;
    width: 100%;
    
}



@media (max-width: 768px) {
    #gmap_canvas {
        width: 100%;
        
        
               
        

    }

} 

@media (max-width: 390px) {
    #gmap_canvas {
        width: 100%;
        
        
               
        

    }

} 

