.foot {
    display: flex;
    justify-content: center;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 29%, rgba(2,0,36,1) 100%);
    color: white;
    padding-block: 20px;
    
    .icons {
    display: flex;
    align-items: center;
    gap: 1rem;           

    }
    
    
  }


$redes: (
    facebook: blue,
    instagram: rgb(199, 136, 18),
    whatsapp: green
);

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
        background-color: $colordered;
    }
}

.fa-facebook {
    @extend %iconitos;
}

.fa-instagram {
    @extend .fa-facebook
};

.fa-whatsapp {
    @extend .fa-facebook
};

@mixin padding($padding) {
    padding: $padding;
}

.icons .fab {
    @include padding(1.5rem);
}

// dejo el map get comentado ya que no lo encontre el uso que quiero todavia pero para cumplir con la consigna
// .fa-whatsapp {
//     background-color: map-get($redes, facebook);
// }