#navbar2 {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 29%, rgba(2,0,36,1) 100%);
    box-shadow: 10px 5px 5px black;
}

.navbar-nav {
    
    .nav-item {
        -webkit-animation:scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
        animation:scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;
    
    
        }

    @for $item from 1 through 5 {
        .nav-item#{$item} {
            animation-delay: $item*0.10s;
            }    
    }

}

.nav-link {
    border-left: 1px solid rgb(190, 180, 180);
}




@media (max-width: 768px) {
    #navbar2 {
        background: rgb(0,116,255);
        background: linear-gradient(90deg, rgba(0,116,255,1) 31%, rgba(9,9,121,1) 63%, rgba(2,0,36,1) 93%);
    }
}


 @-webkit-keyframes scale-in-hor-left{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}
 @keyframes scale-in-hor-left{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}