#navbar2 {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 29%, rgba(2,0,36,1) 100%);
    box-shadow: 10px 5px 5px black;
}


.nav-link {
    border-left: 1px solid rgb(190, 180, 180);
}

.nav-item a:hover {
    text-shadow: 0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white;
    transition: 1s; 
 
}



@media (max-width: 768px) {
    #navbar2 {
        background: rgb(0,116,255);
        background: linear-gradient(90deg, rgba(0,116,255,1) 31%, rgba(9,9,121,1) 63%, rgba(2,0,36,1) 93%);
    }
}

